# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.vscode

# production
/build
/out
/dist

# next
/.next

# misc
.DS_Store

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs

*.swp
*.iml

*.cache
.cache-loader
yarn.lock

# idea
/.idea
.jshintrc
